/* LTE cell MIMO 2x2 + 2CC NR cell */

#define NR_LONG_PUCCH_FORMAT 2   // Values: 2, 3, 4

{
  //log_options: "all.level=debug,all.max_size=1",
  log_options: "all.level={{.LogOption}},all.max_size=1,nas.level={{.Log_Setting.NAS}},nas.max_size=1,s1ap.level={{.Log_Setting.S1AP}},s1ap.max_size=1,x2ap.level={{.Log_Setting.X2AP}},x2ap.max_size=1,rrc.level={{.Log_Setting.RRC}},rrc.max_size=1,pdcp.level={{.Log_Setting.PDCP}},pdcp.max_size=1,rlc.level={{.Log_Setting.RLC}},rlc.max_size=1,mac.level={{.Log_Setting.MAC}},mac.max_size=1,phy.level={{.Log_Setting.PHY}},phy.max_size=1",

  log_filename: "/tmp/gnb0.log",

  /* Enable remote API and Web interface */
  com_addr: "[::]:9001",

  rf_driver: {
	name: "sdr",

        /* list of devices. 'dev0' is always the master. */
        //args: "dev0=/dev/sdr0,dev1=/dev/sdr1,dev2=/dev/sdr2,dev3=/dev/sdr3,dev4=/dev/sdr4,dev5=/dev/sdr5",
        args: "{{.RfCard}}",
      	/* TDD: force the RX antenna on the RX connector */
        rx_antenna: "rx",

        /* synchronisation source: none, internal, gps, external (default = none) */
        // sync: "gps",
  },
  tx_gain: [{{range $index, $element := .TxGain}}{{if $index}},{{end}}{{$element}}{{end}}],
  rx_gain: [{{range $index, $element := .RxGain}}{{if $index}},{{end}}{{$element}}{{end}}],

    
  mme_list: [{{range .MMEList}}
    {
      mme_addr: "{{.MMEAddr}}",
      {{- if ne .SlapBindAddr ""}} 
      s1ap_bind_addr: "{{.SlapBindAddr}}",{{- end}}
    },
  {{- end}}
  ],
  /* GTP bind address (=address of the ethernet interface connected to
     the MME). Must be modified if the MME runs on a different host. */
  gtp_addr: "{{.SGWAddr}}",
#ifdef GTP_U_BUNDLING
  gtp_use_packet_bundling: true,
#endif

  /* high 24 bits of SIB1.cellIdentifier */
  enb_id: {{decimaltoHex .EnbID}},

  en_dc_support: true,

  /* list of cells */
  cell_list: [{{range $index, $cell := .Cells}}
  {{- if eq .CellType "4g"}}
  {
    rf_port: {{$index}},
    /* Broadcasted PLMN identities */
    plmn_list: [{{range $index,$element := .PLMNList4g}} {{if $index}},{{end}}
      "{{$element}}",{{end}}
    ],
    dl_earfcn: {{.DLEarfcn}}, /* 2593 MHz (band 41) */   
    {{if eq .DuplexMode 0}}ul_earfcn:{{.ULEarfcn}},{{else}}ul_earfcn:{{.DLEarfcn}},{{end}}
    n_id_cell: {{.PCI}},
    cell_id: {{decimaltoHex .CellID}},
    tac: {{decimaltoHex .TAC}},
    root_sequence_index: 120, /* PRACH root sequence index */
    en_dc_scg_cell_list:[
      {cell_id: 0x02},
    ],
    {{- if .NcellList}}
    ncell_list:[{{- range $i, $v := .NcellList}}
      {cell_id: {{$v}}},
    {{- end}}
    ],
    {{- end -}}

    n_antenna_dl:{{.AntennaDL}},
    n_antenna_ul:{{.AntennaUL}},
    n_rb_dl: {{.Bandwidth}},
    {{- if eq .DuplexMode 1}}
    uldl_config: 2, /* TDD only */
    sp_config: 7, /* TDD only */
    {{- end}}
    {{if eq .Bandwidth 6}}
    si_coderate: 0.30,   /* maximum code rate for SI/RA/P-RNTI messages */
    {{else}}
    si_coderate: 0.20,   /* maximum code rate for SI/RA/P-RNTI messages */
    {{- end}}

    pdsch_dedicated: {
    {{- if ge .AntennaDL 4}}
      p_a: -6,
    {{- else if eq .AntennaDL 2}}
      p_a: -3,
    {{- else}}
      p_a: 0,
    {{- end}}
      p_b: -1, /* -1 means automatic */
    },
    {{if eq .Bandwidth 6}}
    prach_config_index: 15, /* subframe 9 every 20 ms */
    {{- else}}
    prach_config_index: 4, /* subframe 4 every 10 ms */
    {{- end}}

    /* PUCCH dedicated config (currently same for all UEs) */
    pucch_dedicated: {
      n1_pucch_sr_count: 11, /* increase if more UEs are needed */
      cqi_pucch_n_rb: 1, /* increase if more UEs are needed */
    {{- if eq .DuplexMode 1}}
      //tdd_ack_nack_feedback_mode: "bundling", /* TDD only */
      tdd_ack_nack_feedback_mode: "multiplexing", /* TDD only */
    {{- end}}
    },

    /* this CQI value is assumed when none is received from the UE */
    {{- if eq .Bandwidth 6}}
    initial_cqi: 5,
    {{- else}}
    initial_cqi: 3,
    {{- end}}
    {{if ge .AntennaDL 2}}
    /* RI reporting is done with a period of m_ri * cqi_period. 
       m_ri = 0 (default) disables RI reporting. */
    m_ri: 8,
    /* transmission mode */
    transmission_mode: 3,
    {{- end}}

    /* SRS dedicated config. All UEs share these
       parameters. srs_config_index and freq_domain_position are
       allocated for each UE */ 
    srs_dedicated: {
    {{- if eq .Bandwidth 6}}
      srs_bandwidth_config: 7,
      srs_bandwidth: 1,
    {{- else if eq .Bandwidth 15}}
      srs_bandwidth_config: 6,
      srs_bandwidth: 1,
    {{- else if eq .Bandwidth 25}}
      srs_bandwidth_config: 3,
      srs_bandwidth: 1,
    {{- else if eq .Bandwidth 50}}
      srs_bandwidth_config: 2,
      srs_bandwidth: 2,
    {{- else if eq .Bandwidth 75}}
      srs_bandwidth_config: 2,
      srs_bandwidth: 2,
    {{- else}}
      srs_bandwidth_config: 2,
      srs_bandwidth: 3,
    {{- end}}
      srs_subframe_config: 3, /* 0 - 15 */
      srs_period: 40, /* period (ms). Must be >= 40 for HD-FDD */
      srs_hopping_bandwidth: 0,
    },

  },
  {{- end}}
  {{- end}}
  ], /* cell_list */

  nr_cell_list:[{{range $index, $cell := .Cells}}
    {{- if eq .CellType "5g"}}
    {
      rf_port: {{$index}},
      cell_id: {{decimaltoHex .CellID}},
      n_id_cell: {{.PCI}},
      {{if $.CarrierAggregation}}
      {{- if .ScellList}}
      scell_list:[{{- range $i, $v := .ScellList}}
        {cell_id: {{$v}}},
      {{- end}}
      ],
      {{- end -}}
      {{- else}}
      {{- if .NcellList}}
      ncell_list:[{{- range $i, $v := .NcellList}}
        {cell_id: {{$v}}},
      {{- end}}
      ],
      {{- end}}
      {{- end}}

      band: {{extractNumeric .Band}},
      dl_nr_arfcn: {{.DLNRarfcn}},
      {{if eq .DuplexMode 0}}ul_nr_arfcn:{{.ULNRarfcn}},{{else}}ul_nr_arfcn:{{.DLNRarfcn}},{{end}}
      subcarrier_spacing: {{.SCS}},
      bandwidth: {{.Bandwidth}},
      n_antenna_dl: {{.AntennaDL}},
      n_antenna_ul: {{.AntennaUL}},

      {{- if eq .DuplexMode 1}}
      tdd_ul_dl_config: {
        pattern1: {
          {{- if eq .TDDConfig 1}}
          period: 5, /* in ms */
          dl_slots: 7,
          dl_symbols: /* 6 */ 2,
          ul_slots: 2,
          ul_symbols: 0,
          {{- else if eq .TDDConfig 2}}
          period: 5, /* in ms */
          dl_slots: 7,
          dl_symbols: 6,
          ul_slots: 2,
          ul_symbols: 4,
          {{- else if eq .TDDConfig 3}}
          period: 5, /* in ms */
          dl_slots: 6,
          dl_symbols: 2,
          ul_slots: 3,
          ul_symbols: 0,
          {{- else if eq .TDDConfig 4}}
          period: 3, /* in ms */
          dl_slots: 3,
          dl_symbols: 6,
          ul_symbols: 4,
          ul_slots: 2,
        },
        pattern2: {
          period: 2, /* in ms */
          dl_slots: 4,
          dl_symbols: 0,
          ul_symbols: 0,
          ul_slots: 0,
        {{- end}}
        },
      },
      ssb_pos_bitmap: "10000000",
      {{- else}}
      ssb_pos_bitmap: "1000",
      {{- end}}

      prach: {
      {{- if eq .DuplexMode 1}}
      {{- if eq .TDDConfig 4}}
        prach_config_index: 156, /* format B4, subframe 2 */
      {{else}}
        prach_config_index: 160, /* format B4, subframe 9 */
      {{- end}}
        msg1_subcarrier_spacing: 30, /* kHz */
      {{- else}}
        prach_config_index: 16, /* subframe 1 every frame */
      {{- end}}
        msg1_fdm: 1,
        msg1_frequency_start: -1,
        zero_correlation_zone_config: 15,
        preamble_received_target_power: -110, /* in dBm */
        preamble_trans_max: 7,
        power_ramping_step: 4, /* in dB */
      {{- if eq .DuplexMode 1}}
        ra_response_window: 20, /* in slots */
      {{- else}}
        ra_response_window: 10, /* in slots */
      {{- end}}
        restricted_set_config: "unrestricted_set",
        ra_contention_resolution_timer: 64, /* in ms */
        ssb_per_prach_occasion: 1,
        cb_preambles_per_ssb: 8,
      },
    },
    {{- end -}}
    {{- end}}
  ],/* nr_cell_list */

  /* default cell parameters */
  cell_default: {

    cyclic_prefix: "normal",

    phich_duration: "normal",
    phich_resource: "1", /* ratio of NG */

    /* SIB1 */
    si_value_tag: 0, /* increment modulo 32 if SI is modified */
    cell_barred: false, /* SIB1.cellBarred-r13 */
    intra_freq_reselection: true, /* SIB1.intraFreqReselection */
    q_rx_lev_min: -70, /* SIB1.q-RxLevMin */
    p_max: 10, /* maximum power allowed for the UE (dBm) */
    si_window_length: 40, /* ms */
    sib_sched_list: [{{range .SIBList}}
      {
        filename: "{{.FileName}}",
        si_periodicity:{{.SiPeriodicity}},
      },
      {{- end}}
    ],

    si_pdcch_format: 2, /* 2 or 3. Log2 of the number of CCEs for PDCCH
                           for SI/RA/P-RNTI */

    n_symb_cch: 0, /* number of symbols for CCH (0 = auto) */

    /* PDSCH dedicated config (currently same for all UEs) */

    /* If defined, force for number of CCEs for UE specific PDCCH to
       2^pdcch_format. Otherwise it is computed from the reported
       CQI. Range: 0 to 3. */
    /* pdcch_format: 2,  */

    /* if defined, force the PDSCH MCS for all UEs. Otherwise it is
       computed from the reported CQI */ 
    /* pdsch_mcs: 12, */

    prach_freq_offset: -1, /* -1 means automatic */

    /* PUSCH dedicated config (currently same for all UEs) */
    pusch_dedicated: {
      beta_offset_ack_index: 9,
      beta_offset_ri_index: 6,
      beta_offset_cqi_index: 6,
    },

    pusch_hopping_offset: -1, /* -1 means automatic */

    /* MCS for Msg3 (=CCCH RRC Connection Request) */
    pusch_msg3_mcs: 0,


    /* if defined, force the PUSCH MCS for all UEs. Otherwise it is
       computed from the last received SRS/PUSCH. */ 
    //  pusch_mcs: 18, 

    dl_256qam: true,
    ul_64qam: true,

    /* Scheduling request period (ms). Must be >= 40 for HD-FDD */
    sr_period: 20, 

    /* CQI report config */
    cqi_period: 40, /* period (ms). Must be >= 32 for HD-FDD */


    /* MAC configuration (same for all UEs) */
    mac_config: {
       ul_max_harq_tx: 5, /* max number of HARQ transmissions for uplink */
       dl_max_harq_tx: 5, /* max number of HARQ transmissions for downlink */
    },

    /* CPU load limitation */
    //pusch_max_its: 6, /* max number of turbo decoder iterations */

    /* dynamic power control */
    dpc: true,
    dpc_pusch_snr_target: 25,
    dpc_pucch_snr_target: 20,

    /* RRC/UP ciphering algorithm preference. EEA0 is always the last. */
    cipher_algo_pref: [],
    /* RRC integrity algorithm preference. EIA0 is always the last. */
    integ_algo_pref: [2, 1],

    /* (in ms) send RRC connection release after this time of network
       inactivity */ 
    inactivity_timer: 10000,

    /* SRB configuration */
    srb_config: [
      {
        id: 1,
        maxRetxThreshold: 32,
        t_Reordering: 45,
        t_PollRetransmit: 60,
      },
      {
        id: 2 ,
        maxRetxThreshold: 32,
        t_Reordering: 45,
        t_PollRetransmit: 60,
      }
    ],

    /* measurement configuration */
    meas_config_desc: {{jsonify .MeasurementConfig}},
    meas_gap_config: "gp0",

    /* DRB configuration */
    drb_config: "drb.cfg",
  },

  nr_cell_default: {

    /* force the timing TA offset (optional) */
//    n_timing_advance_offset: 39936,

    ssb_period: 20, /* in ms */

//    p_max: 10, /* maximum UE power in dBm */

    root_sequence_index: 1, /* PRACH root sequence index */

    /* Scheduling request period (slots). */
    sr_period: 40,

    dmrs_type_a_pos: 2,

    /* to limit the number of HARQ feedback in UL, use pdsch_harq_ack_max;
       allows to workaround issues with SM-G977N for example */
    //pdsch_harq_ack_max: 2,

    pdcch: {
      rb_start: -1,
      l_crb: -1, /* -1 means all the bandwidth */
      duration: 1,
      precoder_granularity: "sameAsREG_bundle",
      css: {
        n_candidates: [ 0, 0, 4, 0, 0 ],
      },
      rar_al_index: 2,

      uss: {
        n_candidates: [ 0, 4, 0, 0, 0 ],
        dci_0_1_and_1_1: true,
      },
      al_index: 1,
    },

    pdsch: {
      mapping_type: "typeA",
      start_symb: 1,
      n_symb: 13,
      dmrs_add_pos: 1,
      dmrs_type: 1,
      dmrs_max_len: 1,
      /* k0 delay in slots from DCI to PDSCH: automatic setting */
      /* k1 delay in slots from PDSCH to PUCCH/PUSCH ACK/NACK: automatic setting */
      mcs_table: "{{.DLModulation}}",

      rar_mcs: 2,
      /* If defined, force the PDSCH MCS for all UEs. Otherwise it is computed
       * based on DL channel quality estimation */
      /* mcs: 24, */
    },

    csi_rs: {
      resource_auto: {
        nzp_csi_rs_period: 80,
      },
      csi_report_config: [
        {
          report_config_type: "periodic",
          period: 80,
        },
      ],
    },
    
    pucch: {
      pucch_group_hopping: "neither",
      hopping_id: -1, /* -1 = n_cell_id */
      p0_nominal: -96,
#if 0
        pucch0: {
          initial_cyclic_shift: 1,
          n_symb: 1,
        },
#else
        pucch1: {
          n_cs: 3,
          n_occ: 3,
          freq_hopping: true,
        },
#endif
#if NR_LONG_PUCCH_FORMAT == 2
        pucch2: {
          n_symb: 2,
          n_prb: 1,
          freq_hopping: true,
          simultaneous_harq_ack_csi: false,
          max_code_rate: 0.25,
        },
#elif NR_LONG_PUCCH_FORMAT == 3
        pucch3: {
          bpsk: false,
          additional_dmrs: false,
          freq_hopping: true,
          n_prb: 1,
          simultaneous_harq_ack_csi: true,
          max_code_rate: 0.25,
        },
#elif NR_LONG_PUCCH_FORMAT == 4
        pucch4: {
          occ_len: 4,
          bpsk: false,
          additional_dmrs: false,
          freq_hopping: true,
          simultaneous_harq_ack_csi: true,
          max_code_rate: 0.25,
        },
#endif
    },

    pusch: {
      mapping_type: "typeA",
      n_symb: 14,
      dmrs_add_pos: 1,
      dmrs_type: 1,
      dmrs_max_len: 1,
      tf_precoding: false,
      mcs_table: "{{.ULModulation}}", /* without transform precoding */
      mcs_table_tp: "qam256", /* with transform precoding */
      ldpc_max_its: 5,
      /* k2, msg3_k2 delay in slots from DCI to PUSCH: automatic setting */
      p0_nominal_with_grant: -84,
      msg3_mcs: 4,
      msg3_delta_power: 0, /* in dB */
      beta_offset_ack_index: 9,

      /* hardcoded scheduling parameters */
      n_dmrs_cdm_groups: 1,
      n_layer: 1,
      /* if defined, force the PUSCH MCS for all UEs. Otherwise it is
       computed from the last received PUSCH. */ 
      /* mcs: 16, */
    },

    /* MAC configuration */
    mac_config: {
       msg3_max_harq_tx: 5,
       ul_max_harq_tx: 5, /* max number of HARQ transmissions for uplink */
       dl_max_harq_tx: 5, /* max number of HARQ transmissions for downlink */
       ul_max_consecutive_retx: 30, /* disconnect UE if reached */
       dl_max_consecutive_retx: 30, /* disconnect UE if reached */
       periodic_bsr_timer: 20,
       retx_bsr_timer: 320,
       periodic_phr_timer: 500,
       prohibit_phr_timer: 200,
       phr_tx_power_factor_change: "dB3",
       sr_prohibit_timer: 0, /* in ms, 0 to disable the timer */
       sr_trans_max: 64,               
    },

    cipher_algo_pref: [],
    integ_algo_pref: [2, 1],

    srb3_support: false,

    drb_config: "drb_nr.cfg",
  },
}

